.log-form{
    display: flex;
    justify-content: center;
}

.form{
    margin-top: 30px;
    background-color: aquamarine;
    padding: 25px;
    border-radius: 10px;
    border: solid;
}